<div class="timeline">
    <div class="t-view" ng-repeat="event in profileCtrl.events"
         data-tv-type="{{ event.media.type_media == 1 ? 'image' : 'video' }}">
        <div class="tv-header media">
            <a href="" class="tvh-user pull-left">
                <img class="img-responsive" src="http://graph.facebook.com/{{ event.user.facebook_id }}/picture?type=large" alt="">
            </a>
            <div class="media-body p-t-5">
                <strong class="d-block">{{ event.title }}</strong>
                <small class="c-gray">
                    Criado por: <strong>{{ event.user.name }} </strong> em {{ event.start_date | date:'dd-MM-yyyy'}} - {{ event.end_date | date:'dd-MM-yyyy' }}</small>
            </div>
        </div>
        <div class="tv-body">
            <div class="embed-responsive embed-responsive-4by3" ng-show="event.media.type_media == 2">
                <div youtube path="event.media.url"></div>
            </div>
            <div class="lightbox m-b-20" ng-show="event.media.type_media == 1">
                <div data-src="assets/img/headers/sm/4.png">
                    <div class="lightbox-item pull-left">
                        <img src="assets/img/headers/sm/4.png" alt="">
                    </div>
                </div>
            </div>
            <p class="m-t-10"> {{ event.message }} </p>
            <button class="btn btn-primary">Visualizar</button>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="load-more">
        <a href=""><i class="zmdi zmdi-refresh"></i> Carregar mais...</a>
    </div>
</div>
