<div class="modal-header">
    <h4 class="modal-title">
        Adicionar imagem<i ng-click="close();" class="zmdi zmdi-close pull-right cursor-pointer"></i>
    </h4>
</div>
<div class="modal-body">
    <div class="fileUpload btn">
        <span>{{ 'Selecione uma imagem' | translate }}</span>
        <input type="file" id="fileImage" accept="image/*"
               title="{{ 'Selecione uma imagem' | translate }}" class="upload" />
    </div>
    <div class="cropArea">
        <img-crop image="image"
                  area-type="rectangle"
                  result-image="resultImage"
                  result-image-quality="1"
                  chargement="'Carregando...'"
                  on-load-error="onLoadError()"
                  result-blob="resultBlob">
        </img-crop>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="uploadCover();" class="btn btn-success">Adicionar</button>
</div>
