<div class="pmb-block">
    <div class="pmbb-body p-l-30">
        <dl class="dl-horizontal">
            <div class="fg-line">
                <input ng-model="detailEventCtrl.event.title" type="text" class="form-control"  placeholder="Titulo do evento" />
            </div>
        </dl>
        <dl class="dl-horizontal">
            <div summernote ng-model="detailEventCtrl.event.message" height="250">
            </div>
        </dl>
        <dl class="dl-horizontal">
            <dt class="p-t-10">Inicio</dt>
            <dd>
                <div class="fg-line">
                    <input type="text" ng-model="detailEventCtrl.event.start_date" 
                           name="start_date" id="start_date"
                           class="form-control" placeholder="Inicio"
                           data-input-mask="{mask: '0000/00/00 00:00:00'}" />
                </div>
            </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt class="p-t-10">Termino</dt>
            <dd>
                <div class="fg-line">
                    <input type="text" ng-model="detailEventCtrl.event.end_date" 
                           name="end_date" id="end_date"
                           class="form-control" placeholder="Termino"
                           data-input-mask="{mask: '0000/00/00 00:00:00'}" />
                </div>
            </dd>
        </dl>
    </div>
</div>
