<li class="btn-wave" ui-sref-active="active"><a ui-sref="events.detail.info">Informações</a></li>
<li class="btn-wave" ui-sref-active="active"><a ui-sref="events.detail.location">Localização</a></li>
<li class="btn-wave" ui-sref-active="active"><a ui-sref="events.detail.invites">Convidados</a></li>
<li class="btn-wave" ui-sref-active="active"><a ui-sref="events.detail.images">Imagens</a></li>
<li class="btn-wave" ui-sref-active="active"><a ui-sref="events.detail.videos">Vídeos</a></li>
<li class="btn-wave" ui-sref-active="active"><a ui-sref="events.detail.musics">Músicas</a></li>
