<div class="card">
    <div class="card-header ch-alt">
        <h2>Cadastro de evento <small>Preencha as informações do evento</small></h2>
    </div>

    <div class="card-body card-padding">

        <div class="form-group fg-float m-b-30">
            <div class="fg-line">
                <input type="text" class="form-control input-sm">
                <label class="fg-label">Nome</label>
            </div>
        </div>

        <div class="form-group fg-float m-b-30">
            <div class="fg-line">
                <input type="text" class="form-control input-sm">
                <label class="fg-label">Descrição</label>
            </div>
        </div>

        <div class="form-group fg-float m-b-30">
            <div class="fg-line">
                <input type="text" class="form-control input-sm">
                <label class="fg-label">Inicio</label>
            </div>
        </div>

        <div class="form-group fg-float">
            <div class="fg-line">
                <textarea class="form-control input-sm" auto-size></textarea>
                <label class="fg-label">Final</label>
            </div>
        </div>

        <button class="btn btn-info">Salvar</button>
        <button class="btn btn-link">cancelar</button>
    </div>
</div>
</div>
