
<div class="card" ng-controller="AddEventController as addEventCtrl">
    <div class="card-header ch-alt">
        <h2>Adicionar evento <small>Preencha as informações do evento</small></h2>
    </div>

    <div class="card-body card-padding">

        <div class="form-group fg-float m-b-30">
            <div class="fg-line">
                <input type="text" class="form-control input-sm" name="title" id="title">
                <label class="fg-label">Título</label>
            </div>
        </div>

        <div class="form-group fg-float m-b-30">
            <div class="fg-line">
                <input type="text" class="form-control input-sm">
                <label class="fg-label">Descrição</label>
            </div>
        </div>

        <div class="form-group fg-float m-b-30">
            <div class="fg-line">
                <input type="text" class="form-control input-sm">
                <label class="fg-label">Inicio</label>
            </div>
        </div>

        <div class="form-group fg-float">
            <div class="fg-line">
                <textarea class="form-control input-sm" auto-size></textarea>
                <label class="fg-label">Final</label>
            </div>
        </div>

        <div class="input-group form-group">
            <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>
            <div class="dtp-container fg-line">
                <input type='text' class="form-control date-time-picker" placeholder="Click here...">
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h2>Adicionar vídeos <small>Apenas vídeos com a URL do youtube é permitida</small></h2>
            </div>

            <div class="card-body card-padding">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group fg-float">
                            <div class="fg-line">
                                <input type="text" class="form-control">
                                <label class="fg-label">Url do vídeo do youtube</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/aaZXDm3RXuo"></iframe>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/aaZXDm3RXuo"></iframe>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/aaZXDm3RXuo"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <button class="btn btn-info">Salvar</button>
        <button class="btn btn-link">cancelar</button>
    </div>
</div>
</div>
