<div class="container" ng-controller="ListEventController as listEventCtrl">
    <a class="btn btn-float btn-danger m-btn" ui-sref="events.add"><i class="zmdi zmdi-plus"></i></a>

    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="card animation-demo">
                <div class="card-header">
                    <h2>Apresentação dos Jogos <small>Lista de jogos srão apresentadas...</small></h2>
                </div>

                <div class="card-body card-padding">
                    <img src="assets/img/headers/sm/1.png" alt="" id="attentionSeeker">
                    <button class="btn btn-block bgm-cyan">Visualizar</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card animation-demo">
                <div class="card-header">
                    <h2>Estágio 2 <small>Lista de jogos srão apresentadas...</small></h2>
                </div>

                <div class="card-body card-padding">
                    <img src="assets/img/headers/sm/1.png" alt="" id="attentionSeeker">
                    <button class="btn btn-block bgm-cyan">Visualizar</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card animation-demo">
                <div class="card-header">
                    <h2>Estágio 3 <small>Lista de jogos srão apresentadas...</small></h2>
                </div>

                <div class="card-body card-padding">
                    <img src="assets/img/headers/sm/1.png" alt="" id="attentionSeeker">
                    <button class="btn btn-block bgm-cyan">Visualizar</button>
                </div>
            </div>
        </div>
    </div>
</div>


