<div class="container" ng-controller="ListEventController as listEventCtrl">
    <a class="btn btn-float btn-danger m-btn" ng-click="listEventCtrl.openModalAddEvent();">
        <i class="zmdi zmdi-plus"></i>
    </a>
    <div class="row" ng-repeat="event in listEventCtrl.events">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <div class="media">
                        <div class="pull-left">
                            <img class="lv-img" src="http://graph.facebook.com/{{ event.user.facebook_id }}/picture?type=large" alt="">
                        </div>
                        <div class="media-body m-t-5">
                            <h2>{{ event.title }} <small>Criado por: {{ event.user.name }}</small></h2>
                        </div>
                    </div>
                    <div class="pull-right p-0">
                        <ul class="actions">
                            <li>
                                <a href="" ng-click="listEventCtrl.deleteEvent(event);">
                                    <i class="zmdi zmdi-delete c-black"></i>
                                </a>
                            </li>
                            <li>
                                <a href="" ng-click="listEventCtrl.editEvent(event);">
                                    <i class="zmdi zmdi-edit c-black"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body card-padding">
                    <p>{{ event.message }}</p>

                    <div class="embed-responsive embed-responsive-4by3 m-b-10" ng-show="event.media.type_media == 2">
                        <div youtube path="event.media.url"></div>
                    </div>

                    <div class="wall-img-preview lightbox clearfix" ng-show="event.media.type_media == 1">
                        <div class="wip-item" data-src="assets/img/headers/4.png" style="background-image: url(assets/img/headers/4.png);">
                            <div class="lightbox-item"></div>
                        </div>
                    </div>

                    <ul class="wall-attrs clearfix list-inline list-unstyled">
                        <li class="wa-stats">
                            <span><i class="zmdi zmdi-comments"></i> {{ listEventCtrl.countComments }} </span>
                            <span class="active"><i class="zmdi zmdi-favorite"></i> {{ event.likes_events.length }}</span>
                        </li>

                        <li class="wa-users">
                            <a href="" ng-repeat="likes_event in event.likes_events">
                                <img src="http://graph.facebook.com/{{ likes_event.user.facebook_id }}/picture?type=large" alt="">
                            </a>
                        </li>
                    </ul>
                </div>

                <div ng-include="'views/comments/list-comment.html'"></div>
            </div>
        </div>
        <div class="col-md-4 hidden-sm">
            <div class="card picture-list">
                <div class="card-header">
                    <h2>Fotos <small>ùltimos eventos</small></h2>
                </div>

                <div class="pl-body card-padding">
                    <div class="col-xs-3">
                        <a href="">
                            <img src="assets/img/headers/square/1.png" alt="">
                        </a>
                    </div>

                    <div class="col-xs-3">
                        <a href="">
                            <img src="assets/img/headers/square/2.png" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="">
                            <img src="assets/img/headers/square/3.png" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="">
                            <img src="assets/img/headers/square/4.png" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="">
                            <img src="assets/img/headers/square/5.png" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="">
                            <img src="assets/img/headers/square/6.png" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="">
                            <img src="assets/img/headers/square/7.png" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="">
                            <img src="assets/img/headers/square/8.png" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="">
                            <img src="assets/img/headers/square/9.png" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="">
                            <img src="assets/img/headers/square/1.png" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="">
                            <img src="assets/img/headers/square/2.png" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="">
                            <img src="assets/img/headers/square/3.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


