<div class="block-header">
    <h2>Amigos<small>Lista de amigos conectados ao EVENTOS-BR</small></h2>
</div>
<div class="card" ng-controller="ListFriedsController as listFriendsCtrl">
    <div class="lv-header-alt clearfix m-b-5">
        <h2 class="lvh-label hidden-xs">{{ listFriendsCtrl.friends.length }} Amigo(s)</h2>

        <div class="lvh-search" data-ng-if="mactrl.listviewSearchStat" data-ng-click="mactrl.listviewSearchStat">
            <input type="text" ng-model="searchText" placeholder="Pesquisar..." class="lvhs-input">

            <i class="lvh-search-close" data-ng-click="mactrl.listviewSearchStat = false">&times;</i>
        </div>

        <ul class="lv-actions actions">
            <li>
                <a href="" data-ng-click="mactrl.listviewSearchStat = true">
                    <i class="zmdi zmdi-search"></i>
                </a>
            </li>
        </ul>
    </div>


    <div class="card-body card-padding">

        <div class="contacts clearfix row">
            <div class="col-md-2 col-sm-4 col-xs-6" ng-repeat="friend in listFriendsCtrl.friends | filter:searchText">
                <div class="c-item">
                    <a href="" class="ci-avatar">
                        <img src="http://graph.facebook.com/{{ friend.id }}/picture?type=large" alt="">
                    </a>

                    <div class="c-info">
                        <strong>{{ friend.name }}</strong>
                        <small>cathy.shelton31@example.com</small>
                    </div>

                    <div class="c-footer">
                        <button class="waves-effect"><i class="zmdi zmdi-person-add"></i> Add</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="load-more" ng-show="listFriendsCtrl.friends.length > 25">
            <a href=""><i class="zmdi zmdi-refresh-alt"></i> carregar mais...</a>
        </div>
    </div>
</div>
