<div class="pmb-block">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-person m-r-5"></i> Informações básica</h2>
    </div>
    <div class="pmbb-body p-l-30">
        <dl class="dl-horizontal">
            <dt class="p-t-10">Titulo</dt>
            <dd>
                <div class="fg-line">
                    <input ng-model="addEventCtrl.title" type="text" class="form-control"  placeholder="Titulo do evento" />
                </div>
            </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt class="p-t-10">Descrição</dt>
            <dd>
                <div summernote ng-model="addEventCtrl.event.message" height="250">
                    <span style="font-weight: bold;">Texto de </span>
                </div>
            </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt class="p-t-10">Inicio</dt>
            <dd>
                <div class="fg-line">
                    <input type="text" ng-model="addEventCtrl.event.start_date" name="start_date" id="start_date"
                           class="form-control date-time-picker" placeholder="Inicio">
                </div>
            </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt class="p-t-10">Termino</dt>
            <dd>
                <div class="fg-line">
                    <input ng-model="addEventCtrl.event.end_date" name="end_date" id="end_date"
                           class="form-control date-time-picker" placeholder="Termino">
                </div>
            </dd>
        </dl>
    </div>
</div>
