<div class="form-group fg-float m-b-30">
    <div class="fg-line">
        <input type="text" class="form-control input-sm" name="location" id="location">
        <label class="fg-label">Endereço</label>
    </div>
</div>
<!--<button type="button" id="btnEndereco" name="btnEndereco" class="btn btn-primary">Mostrar no mapa</button>-->

<div id="mapa" style="height: 400px; width: 500px">
    <form method="post" action="" id="">
        <fieldset>
            <!--<button type="submit" class="btn btn-primary">Mostrar no mapa</button>-->

            <input type="hidden" id="txtLatitude" name="txtLatitude" />
            <input type="hidden" id="txtLongitude" name="txtLongitude" />
        </fieldset>
    </form>

</div>
