<div class="sidebar-inner c-overflow">
    <div class="profile-menu" ng-show="mactrl.user">
        <a href=""
           ng-style="{'background': 'url('+ mactrl.user.photo_cover + ') no-repeat'}"
           toggle-submenu>
            <div class="profile-pic">
                <img ng-src="{{ mactrl.user.photo_profile }}" alt="">
            </div>
            <div class="profile-info">
                {{ mactrl.user.name }}

                <i class="zmdi zmdi-caret-down"></i>
            </div>
        </a>
        <ul class="main-menu">
            <li>
                <a ui-sref="profile.about" ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-account"></i> Visualizar Perfil</a>
            </li>
            <li>
                <a href=""><i class="zmdi zmdi-settings"></i> Configurações</a>
            </li>
            <li>
                <a href=""><i class="zmdi zmdi-time-restore"></i> Sair</a>
            </li>
        </ul>
    </div>
    <ul class="main-menu">
        <li data-ui-sref-active="active">
            <a ui-sref="friends.list"><i class="zmdi zmdi-accounts"></i> Amigos</a>
        </li>
        <li data-ui-sref-active="active">
            <a ui-sref="events.list"><i class="zmdi zmdi-layers"></i> Eventos</a>
        </li>
        <li data-ui-sref-active="active">
            <a ui-sref="events.agenda"><i class="zmdi zmdi-calendar"></i> Agenda</a>
        </li>
        <li data-ui-sref-active="active">
            <a ui-sref="about"><i class="zmdi zmdi-info"></i> Sobre</a>
        </li>
    </ul>
</div>
